@import "styles/base/variables";
@import "styles/base/grid";

.career {
  margin-top: 2rem;
  display: flex;

  &__left {
    margin-right: 2rem;
  }

  &__image {
    display: block;
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: map_get($radius, career);
  }

  &__right {
    flex: 1;
  }
}