$colors: (
  white: #fff,
  primary: #33c1e3,
  danger: #e85f61,
  gray: #f6f6f6,
  dark: #414141
);

$fonts: (
  fira-light: 'Fira-Sans-Light',
  fira-normal: 'Fira-Sans-Normal',
  fira-medium: 'Fira-Sans-medium',
  fira-bold: 'Fira-Sans-bold',
)