$colors: (
  white: #fff,
  black: #000,
  primary: #33c1e3,
  lightblue: #94e0f2,
  danger: #e85f61,
  gray: #f6f6f6,
  gray_second: #aeaeae,
  gray_third: #515153,
  gray_fourth: #5a5a5a,
  gray_fifth: #ddd,
  gray_sixth: #727272,
  dark: #414141
);

$fonts: (
  fira-light: 'Fira-Sans-Light',
  fira-normal: 'Fira-Sans-Normal',
  fira-medium: 'Fira-Sans-medium',
  fira-bold: 'Fira-Sans-bold',
);

$shadows: (
  default: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
  hover: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2)
);

$radius: (
  default: 2rem,
  career: 1rem
)