$colors: (
  white: #fff,
  black: #000,
  primary: #33c1e3,
  danger: #e85f61,
  gray: #f6f6f6,
  gray_second: #aeaeae,
  dark: #414141
);

$fonts: (
  fira-light: 'Fira-Sans-Light',
  fira-normal: 'Fira-Sans-Normal',
  fira-medium: 'Fira-Sans-medium',
  fira-bold: 'Fira-Sans-bold',
);

$shadows: (
  default: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.1),
  hover: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2)
);

$radius: (
  default: 2rem
)